.page-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #000622;
}

.topbar{
  height: 72px;
  display: flex;
  align-items: center;
  padding: 0 28px;
  color: #f8f4ff;
  border-bottom: 1px solid rgba(255,255,255,0.03);
}

.content{
  flex: 1;
  display: flex;
}

.title{
  font-size: 22px;
  font-weight: 700;
}

.topbar-actions{
  margin-left: auto;
  display: flex;
  gap: 12px;
}

.topbar .btn{
  background: #ffffff;
  color: #000622;
  border-radius: 50px;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: 700;
}
